@import "../../../";

.btnSidebar {
  display: flex;
  align-items: center;
  padding: calc($gap / 2);
  border-radius: $gap;
  cursor: pointer;
  transition: 0.2s;

  &.active {
    background-color: $color-1;
  }

  img {
    width: 45px;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-right: calc($gap / 2);
    border-radius: $gap;
  }

  p {
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
  }
}
