// FONTES
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Rowdies:wght@300;400;700&display=swap");

// CORES
$text: #fff;
$bg-1: #0e0e0e;
$bg-2: #1f1f1f;
$color-1: #be6a2a;

// VARIAVIES
$gap: 15px;

// MIXINS
@mixin page() {
  display: flex;
  width: 100%;
  height: calc(100vh - $gap * 2);
  background-color: $bg-2;
  border-radius: $gap;
}

@mixin scrollBar() {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: $gap;
  }

  &:hover {
    scrollbar-color: lighten($bg-2, 5) transparent;
    &::-webkit-scrollbar-thumb {
      background: lighten($bg-2, 5);
    }
  }
}

// MAIN
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  color: $text;
}

.app {
  display: flex;
  gap: $gap;
  height: 100vh;
  padding: $gap;
  background-color: $bg-1;
}
